<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!--相当于UserMapper接口的实现 namespace必须是UserMapper类路径-->
<mapper namespace="com.renchaigao.terms.termMapper">
    <!--//新增用户信息-->
    <insert id="addEverdayTerms" parameterType="com.renchaigao.terms.everdayTerms" useGeneratedKeys="true" keyProperty="id">
        insert into everydayterms (id,index,addDay,termString,termInfo,termStyle,zanNum,state)
        values(#{id},#{index},#{addDay},#{termString},#{termInfo},#{termStyle},#{zanNum},#{state})
    </insert>

    <!--&lt;!&ndash;查询用户信息&ndash;&gt;-->
    <select id="getEverdayTermByDate" resultType="com.renchaigao.terms.everdayTerms">
        SELECT * FROM everydayterms WHERE addDay=#{addDay}
    </select>
    <!--&lt;!&ndash;查询用户信息&ndash;&gt;-->
    <select id="getEverdayTermByState" resultType="com.renchaigao.terms.everdayTerms">
        SELECT * FROM everydayterms WHERE state=#{state}
    </select>

    <!--&lt;!&ndash;更新用户信息&ndash;&gt;-->
    <!--<update id="updateUsers" parameterType="com.zujuba.user.users">-->
    <!--update users set id = #{id},name = #{name},image = #{image},state = #{state},userlogin = #{userlogin},gender = #{gender},brithday = #{brithday},-->
    <!--where id = #{id}-->
    <!--</update>-->




</mapper>